@import './loader'

#video-container
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

  #location
    position: absolute
    bottom: 10px
    left: 10px
    color: #fff
    font-family: 'Helvetica Neue', 'Calibri Light', Arial, sans-serif
    font-size: 1.2rem
    text-shadow: 0 0 3px #555

  .video
    position: absolute
    top: 50%
    left: 50%
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100
    transform: translateX(-50%) translateY(-50%)
