// @font-face
//   font-family: 'Bebas'
//   src: url('./fonts/BebasNeue_Bold.woff2') format('woff2')
//   font-weight: 600
//   font-style: normal

// @font-face
//   font-family: 'Bebas'
//   src: url('./fonts/BebasNeue_Regular.woff2') format('woff2')
//   font-weight: 400
//   font-style: normal

@font-face
  font-family: 'Bebas'
  src: url('./fonts/BebasNeue_Book.woff2') format('woff2')
  font-weight: 300
  font-style: normal

// @font-face
//   font-family: 'Bebas'
//   src: url('./fonts/BebasNeue_Light.woff2') format('woff2')
//   font-weight: 200
//   font-style: normal

// @font-face
//   font-family: 'Bebas'
//   src: url('./fonts/BebasNeue_Thin.woff2') format('woff2')
//   font-weight: 100
//   font-style: normal


html, body, #root
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow: hidden
  font-family: 'Bebas', Arial, sans-serif
  font-size: 16px
  user-select: none

body
  background: #fefefe
